<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="997ed7">  <td>21/02/06 12:13:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParameterPassing.f(java.lang.String)[pri:0, instance:TestNGPractice.ParameterPassing@5e853265]">f</td> 
  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>21/02/06 12:13:46</td>   <td>35</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParameterPassing.f(java.lang.String)[pri:0, instance:TestNGPractice.ParameterPassing@17579e0f]">f</td> 
  <td>main@1615056168</td>   <td></td> </tr>
</table>
